@import "../../../../../assets/styles/variables";

#page {
  margin-bottom: $footer-heigth;
  display: flow-root;
  background: rgba(128, 128, 128, 0.062);
}

img {
  margin-left: -$content-padding;
  width: 200px;
  position: absolute;
  z-index: 1;
}
