mat-toolbar {
  height: auto !important;
}
.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.btn-menu {
  right: 10px;
  top: 10px;
  position: absolute;
}
.text-nav {
  color: darkgray !important;
  margin: 10px;
  text-align: center;
}
.title-nav {
  white-space: normal;
  display: block;
  font-size: 0.8rem;
  line-height: 1.5em;
  width: 10%;
}
.text-title-box {
  width: 10%;
  float: right;
  display: inline-table;
}

.navbar-travel {
  padding: 2%;
  top: 0px;
}
.avatar {
  border-radius: 50%;
  width: 100%;
}
.nav-profile-text {
  p, a {
    padding: 0px;
    margin: 0px;
    color: dimgray !important;
  }
  color: dimgray !important;
  font-weight: 300;
  font-size: 0.8rem;
  white-space: normal;
  line-height: 1.5em;
}
.separator {
  font-size: 1.8rem;
  margin: 2% 0px;
  font-weight: 200;
}
