mat-toolbar {
  height: auto !important;
}
.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.btn-menu {
  right: 10px;
  top: 10px;
  position: absolute;
}
.text-nav {
  color: darkgray !important;
  margin: 10px;
  text-align: center;
  vertical-align: center;
}
.title-nav {
  white-space: normal;
  display: block;
  font-size: 0.8rem;
  line-height: 1.5em;
  width: 10%;
  clip: rect(0px,60px,200px,0px);
}
.text-title-box {
  width: 25%;
  float: right;
  display: inline-table;
}

.navbar-travel {
  padding: 2%;
  top: 0px;
}
