<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [autoFocus]="false"
    [disableClose]="true"
    [hidden]="!(isHandset$ | async)"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    class="sidenav"
    fixedInViewport
    position="end"
  >
    <mat-toolbar
      >Menu
      <button
        (click)="goBack()"
        *ngIf="isHandset$ | async"
        aria-label="Toggle sidenav"
        mat-icon-button
        type="button"
      >
        <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a (click)="irPantalla('/app/inicio')" mat-list-item>Inicio</a>
      <a (click)="irPantalla('/app/promociones')" mat-list-item>Promociones</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- <app-nav-bar #navBarComponent class="fixed-top"></app-nav-bar> -->
    <div style="position: absolute; width: 100%; min-height: 100%;">
      <router-outlet> </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet
  (activate)="drawer.toggle()"
  (deactivate)="drawer.toggle()"
  name="menuoutlet"
></router-outlet>
