<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [autoFocus]="false"
    [disableClose]="true"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    class="sidenav"
    fixedInViewport
    position="start"
  >
    <mat-toolbar
      >Menu
      <button
        (click)="goBack()"
        *ngIf="isHandset$ | async"
        aria-label="Toggle sidenav"
        mat-icon-button
        type="button"
      >
        <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a
        [class.active-item]="slectedPath.includes(item.url)"
        *ngFor="let item of navItems"
        (click)="irPantalla(item.url)"
        mat-list-item
        >{{ item.name }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!--     <app-nav-bar></app-nav-bar>-->
    <div style="position: absolute; width: 100%; min-height: 100%;">
      <router-outlet> </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet
  (activate)="drawer.toggle()"
  (deactivate)="drawer.toggle()"
  name="menuoutlet"
></router-outlet>
