<div style="position: absolute; width: 100%; min-height: 100%;">
  <app-header>Promocion</app-header>
  <app-page>
    <p>promociones works!</p>

    <p>promociones works!</p>
    <p>promociones works!</p>
    <p>promociones works!</p>
    <p>promociones works!</p>
    <p>promociones works!</p>
    <p>promociones works!</p>
    <p>promociones works!</p>
    <p>promociones works!</p>
    <p>promociones works!</p>
    <p>promociones works!</p>
    <p>promociones works!</p>
    <p>promociones works!</p>
    <p>promociones works!</p>
    <p>promociones works!</p>
    <p>promociones works!</p>
    <p>promociones works!</p>
    <p>promociones works!</p>
    <p>promociones works!</p>
    <p>promociones works!</p>
    <p>promociones works!</p>
    <p>promociones works!</p>
    <p>promociones works!</p>
    <p>promociones works!</p>
    <p>promociones works!</p>
    <p>promociones works!</p>
    <p>promociones works!</p>
    <p>promociones works!</p>
    <p>promociones works!</p>
    <p>promociones works!</p>
  </app-page>
  <app-footer></app-footer>
</div>
