<app-header>Promocion</app-header>
<app-content>
  <p>promociones works!</p>

  <p>promociones works!</p>
  <p>promociones works!</p>
  <p>promociones works!</p>
  <p>promociones works!</p>
  <p>promociones works!</p>
  <p>promociones works!</p>
  <p>promociones works!</p>
  <p>promociones works!</p>
  <p>promociones works!</p>
  <p>promociones works!</p>
  <p>promociones works!</p>
  <p>promociones works!</p>
  <p>promociones works!</p>
  <p>promociones works!</p>
  <p>promociones works!</p>
  <p>promociones works!</p>
  <p>promociones works!</p>
  <p>promociones works!</p>
  <p>promociones works!</p>
  <p>promociones works!</p>
  <p>promociones works!</p>
  <p>promociones works!</p>
  <p>promociones works!</p>
  <p>promociones works!</p>
  <p>promociones works!</p>
  <p>promociones works!</p>
  <p>promociones works!</p>
  <p>promociones works!</p>
  <p>promociones works!</p>
</app-content>
<app-footer></app-footer>
