@import "../../../../../assets/styles/variables";

.right {
  background: rgba(108, 155, 120, 0.479);
  margin-right: -$content-padding-desktop;
  @media only screen and (max-width: $mobile-breakpoint) {
    margin-right: -$content-padding-mobile;
  }
}

.left {
  background: rgba(108, 155, 120, 0.479);
  margin-left: -$content-padding-desktop;
  @media only screen and (max-width: $mobile-breakpoint) {
    margin-left: -$content-padding-mobile;
  }
}

.all {
  background: rgba(108, 155, 120, 0.479);
  margin-left: -$content-padding-desktop;
  margin-right: -$content-padding-desktop;

  @media only screen and (max-width: $mobile-breakpoint) {
    margin-left: -$content-padding-mobile;
    margin-right: -$content-padding-mobile;
  }
}
