<p style="color: red">list works!</p>
{{ show }}
<div [hidden]="!show">
  <div routerLink="../../testdetail" class="items-list">
    <h1>Item</h1>
  </div>

  <div routerLink="../../testdetail" class="items-list">
    <h1>Item</h1>
  </div>
  <div routerLink="../../testdetail" class="items-list">
    <h1>Item</h1>
  </div>
  <div routerLink="../../testdetail" class="items-list">
    <h1>Item</h1>
  </div>
  <div routerLink="../../testdetail" class="items-list">
    <h1>Item</h1>
  </div>
  <div routerLink="../../testdetail" class="items-list">
    <h1>Item</h1>
  </div>
  <div routerLink="../../testdetail" class="items-list">
    <h1>Item</h1>
  </div>
  <div routerLink="../../testdetail" class="items-list">
    <h1>Item</h1>
  </div>

  <div routerLink="../../testdetail" class="items-list">
    <h1>Item</h1>
  </div>

  <div routerLink="../../testdetail" class="items-list">
    <h1>Item</h1>
  </div>
  <div routerLink="../../testdetail" class="items-list">
    <h1>Item</h1>
  </div>
  <div routerLink="../../testdetail" class="items-list">
    <h1>Item</h1>
  </div>
  <div routerLink="../../testdetail" class="items-list">
    <h1>Item</h1>
  </div>
  <div routerLink="../../testdetail" class="items-list">
    <h1>Item</h1>
  </div>
  <div routerLink="../../testdetail" class="items-list">
    <h1>Item</h1>
  </div>
  <div routerLink="../../testdetail" class="items-list">
    <h1>Item</h1>
  </div>
</div>
