<p style="color: red">list works!</p>
{{ show }}
<div [hidden]="!show">
  <div
    routerLink="../../testdetail"
    style="background: rgb(226, 223, 223); width: 100%; height: 100px; margin-bottom: 20px;"
  >
    <h1>Item</h1>
  </div>

  <div
    routerLink="../../testdetail"
    style="background: rgb(226, 223, 223); width: 100%; height: 100px; margin-bottom: 20px;"
  >
    <h1>Item</h1>
  </div>
  <div
    routerLink="../../testdetail"
    style="background: rgb(226, 223, 223); width: 100%; height: 100px; margin-bottom: 20px;"
  >
    <h1>Item</h1>
  </div>
  <div
    routerLink="../../testdetail"
    style="background: rgb(226, 223, 223); width: 100%; height: 100px; margin-bottom: 20px;"
  >
    <h1>Item</h1>
  </div>
  <div
    routerLink="../../testdetail"
    style="background: rgb(226, 223, 223); width: 100%; height: 100px; margin-bottom: 20px;"
  >
    <h1>Item</h1>
  </div>
  <div
    routerLink="../../testdetail"
    style="background: rgb(226, 223, 223); width: 100%; height: 100px; margin-bottom: 20px;"
  >
    <h1>Item</h1>
  </div>
  <div
    routerLink="../../testdetail"
    style="background: rgb(226, 223, 223); width: 100%; height: 100px; margin-bottom: 20px;"
  >
    <h1>Item</h1>
  </div>
  <div
    routerLink="../../testdetail"
    style="background: rgb(226, 223, 223); width: 100%; height: 100px; margin-bottom: 20px;"
  >
    <h1>Item</h1>
  </div>

  <div
    routerLink="../../testdetail"
    style="background: rgb(226, 223, 223); width: 100%; height: 100px; margin-bottom: 20px;"
  >
    <h1>Item</h1>
  </div>

  <div
    routerLink="../../testdetail"
    style="background: rgb(226, 223, 223); width: 100%; height: 100px; margin-bottom: 20px;"
  >
    <h1>Item</h1>
  </div>
  <div
    routerLink="../../testdetail"
    style="background: rgb(226, 223, 223); width: 100%; height: 100px; margin-bottom: 20px;"
  >
    <h1>Item</h1>
  </div>
  <div
    routerLink="../../testdetail"
    style="background: rgb(226, 223, 223); width: 100%; height: 100px; margin-bottom: 20px;"
  >
    <h1>Item</h1>
  </div>
  <div
    routerLink="../../testdetail"
    style="background: rgb(226, 223, 223); width: 100%; height: 100px; margin-bottom: 20px;"
  >
    <h1>Item</h1>
  </div>
  <div
    routerLink="../../testdetail"
    style="background: rgb(226, 223, 223); width: 100%; height: 100px; margin-bottom: 20px;"
  >
    <h1>Item</h1>
  </div>
  <div
    routerLink="../../testdetail"
    style="background: rgb(226, 223, 223); width: 100%; height: 100px; margin-bottom: 20px;"
  >
    <h1>Item</h1>
  </div>
  <div
    routerLink="../../testdetail"
    style="background: rgb(226, 223, 223); width: 100%; height: 100px; margin-bottom: 20px;"
  >
    <h1>Item</h1>
  </div>
</div>
