<app-page>
  <div class="row no-gutters">
    <div class="col d-none d-md-block">
      <div
        style="width: 100%; height: 300px; background: rgba(199, 55, 55, 0.171);"
      >
        <span
          style="position: relative;
          float: left;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);"
          >Bienvendio</span
        >
      </div>
    </div>
    <div class="col">
      <div style="width: 100%; height: 300px; background: green;">
        <img
          src="https://image.freepik.com/foto-gratis/al-atardecer-playa-tropical-mar-palmera-coco_74190-1075.jpg"
          alt="portada"
          height="100%"
          width="100%"
        />
      </div>
    </div>
  </div>
  <app-side-content>test </app-side-content>
  <div class="row">
    <div class="col-md-6" style="margin: auto">
      <nav mat-tab-nav-bar>
        <a
          mat-tab-link
          routerLink="./tab1"
          routerLinkActive
          #rla="routerLinkActive"
          [active]="rla.isActive"
        >
          Tab1
        </a>
        <a
          mat-tab-link
          routerLink="./tab2"
          routerLinkActive
          #rla2="routerLinkActive"
          [active]="rla2.isActive"
        >
          Tab2
        </a>
        <a
          mat-tab-link
          routerLink="./testlist"
          routerLinkActive
          #rla3="routerLinkActive"
          [active]="rla3.isActive"
        >
          testlist
        </a>
      </nav>
    </div>
  </div>

  <router-outlet></router-outlet>
</app-page>

<app-footer></app-footer>
