@import "../../../../assets/styles/variables";

$margin-top-portada: 20px;

#imagen-portada {
  border-radius: $images-radius;
  box-shadow: ($content-padding-desktop + $images-radius)
    (-$margin-top-portada - $images-radius) (0px) (-$images-radius) #88888811;
  height: 100%;
  width: 100%;
}

#portada-desktop {
  margin-top: $margin-top-portada;
}
