@import "../../../../assets/styles/variables";

.barra-lateral {
  $back-grpund-color: rgba(0, 195, 255, 0.089);
  box-shadow: -$content-padding-desktop 0px $back-grpund-color;
  height: calc(100vh - 64px);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 64px;
  background: $back-grpund-color;
  overflow: auto;
}
