<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    [hidden]="!(isHandset$ | async)"
    [disableClose]="true"
  >
    <mat-toolbar
    >Menu
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="goBack()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="irPantalla('/home/main/page1')">Pagina 1</a>
      <a mat-list-item (click)="irPantalla('/home/main/page2')">Pagina 2</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar [class]="'navbar-travel'">
      <img src="/assets/logo-promerica.png" height="70%"/>
      <p class="text-light font-weight-lighter title-nav">| Travel</p>
      <div class="btn-menu">
        <button
          type="button"
          mat-icon-button
        >
          <mat-icon aria-label="Side nav toggle icon">notifications_none</mat-icon>
        </button>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          class=""
          (click)="goOutlet()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet
  name="menuoutlet"
  (activate)="drawer.toggle()"
  (deactivate)="drawer.toggle()"
></router-outlet>
