<div class="swiper-container" [swiper]="config">

  <div class="swiper-wrapper">
    <div class="card swiper-slide">
      <div class="card-img">
        <img src="/assets/tarjeta-premia-travel.png"/>
      </div>
      <div class="card-body">
        Tarjeta Premia travel 1
      </div>
    </div>
    <div class="card swiper-slide">
      <div class="card-img">
        <img src="/assets/tarjeta-premia-travel.png"/>
      </div>
      <div class="card-body">
        Tarjeta Premia travel 2

      </div>
    </div>
    <div class="card swiper-slide">
      <div class="card-img">
        <img src="/assets/tarjeta-premia-travel.png"/>
      </div>
      <div class="card-body">
        Tarjeta Premia travel 3
      </div>
    </div>
  </div>

  <div class="swiper-pagination"></div>
</div>
