//::ng-deep .swiper-container {
//  height: 200px !important;
//  min-height: 200px !important;
//  max-height: 200px !important;
//}
.cards-header {
  margin: 40px 10px 25px 10px;

  .title-card {
    font-family: 'Source+Sans+Pro', sans-serif;
    font-size: 1.7rem;
    font-weight: 300;
  }

  p {
    margin: 10px 0px;
    color: lightslategray;
  }
}

.card-element {
  width: 28%;
  margin: 10px;

  img {
    margin-top: 10px;
    transition: 100ms;
    width: 65%;
    margin-left: 10%;
    opacity: 50%;
  }

  .no-card {
    margin-top: -10px;
    left: 60px;
    bottom: 40px;
    color: white;
    position: absolute;
    font-family: 'Orbitron', sans-serif;
  }

  .exp-date {
    margin-top: -10px;
    right: 70px;
    bottom: 20px;
    color: white;
    position: absolute;
    font-size: 0.76rem;

    .text-exp-date {
      max-width: 10%;
      display: table;
      white-space: normal;
      position: absolute;
      left: -25px;
      top: -6px;
      font-size: 0.4rem;
    }
  }
}

.card-active > img {
  transition: 200ms;
  width: 100%;
  opacity: 100%;
}

@media all and (max-width: 600px) {
  .card-element {
    width: 75%;

    img {
      transition: 100ms;
      width: 70%;
      opacity: 70%;
      margin: 5px;
    }

    margin: 0px;
  }
  .card-active > img {
    transition: 200ms;
    width: 95%;
    opacity: 100%;
    margin: 10px;
  }

  .card-element .no-card {
    left: 20px;
    bottom: 60px;
  }

  .card-element .exp-date {
    margin-top: -10px;
    right: 80px;
    font-size: 0.76rem;

    .text-exp-date {
      max-width: 10%;
      display: table;
      white-space: normal;
      position: absolute;
      left: -25px;
      top: -6px;
      font-size: 0.4rem;
    }
  }
}

::ng-deep .details-tabs > mat-tab-header {
  display: none;
}
