<app-page>
  <div class="cards-header">
    <span class="title-card">MIS TARJETAS</span>
    <p class="font-weight-light">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam
    </p>
  </div>

  <div
    #cardSwiper
    class="swiper-container"
    [swiper]="config"
    (indexChange)="onCardChange($event)"
  >
    <div class="swiper-wrapper">
      <div class="swiper-slide card-element" *ngFor="let card of cardsList">
        <img [src]="card.imgSrc" class="shadow-sm" />
        <span class="no-card">{{ card.noCard }}</span>
        <span class="exp-date">
          <span class="text-exp-date">exp date</span>: {{ card.expDate }}</span
        >
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <mat-tab-group class="details-tabs" [selectedIndex]="this.actualIndex">
      <mat-tab *ngFor="let card of cardsList; let i = index">
        <div class="row justify-content-center align-content-center">
          <div class="col-sm-8">
            <mat-tab-group
              *ngIf="card.personTypes && card.personTypes.length > 1"
            >
              <mat-tab label="Todo">
                <div class="card mt-3 pt-3">
                  <span class="h5 text-center">$12032 USD</span>
                  <p class="text-center font-weight-light">
                    Saldo disponible para compras
                  </p>
                </div>
              </mat-tab>
              <mat-tab
                *ngFor="let personType of card.personTypes"
                label="{{ personType.name }}"
              >
                <div class="card mt-3 pt-3">
                  <span class="h5 text-center"
                    >${{ personType.totalUSDAvaliable }} USD</span
                  >
                  <p class="text-center font-weight-light">
                    Saldo disponible para compras
                  </p>
                </div>
              </mat-tab>
            </mat-tab-group>
            <div
              class="card mt-3 pt-3"
              *ngIf="card.personTypes && card.personTypes.length == 1"
            >
              <span class="h5 text-center"
                >${{ card.personTypes[0].totalUSDAvaliable }} USD</span
              >
              <p class="text-center font-weight-light">
                Saldo disponible para compras
              </p>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-page>
<app-footer></app-footer>
