/* You can add global styles to this file, and also import other style files */

// html,
// body {
//   min-height: 100%;
//   background: greenyellow;
// }

html {
  min-height: 100%;
  display: flex;
}
body {
  min-height: 100%;
  flex: 1;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
