@import "variables";

// Padding del app
.general-padding {
  padding-left: $content-padding-desktop !important;
  padding-right: $content-padding-desktop !important;
}

@media only screen and (max-width: $mobile-breakpoint) {
  .general-padding {
    padding-left: $content-padding-mobile !important;
    padding-right: $content-padding-mobile !important;
  }
}

mat-form-field {
  width: 100%;
}
