@import "variables";

// Padding del app
.general-padding {
  padding-left: 130px;
  padding-right: 130px;
}

@media only screen and (max-width: $mobile-breakpoint) {
  .general-padding {
    padding-left: 0px;
    padding-right: 0px;
  }
}
