@import "variables";

// Padding del app
.general-padding {
  padding-left: $content-padding-desktop;
  padding-right: $content-padding-desktop;
}

@media only screen and (max-width: $mobile-breakpoint) {
  .general-padding {
    padding-left: $content-padding-mobile;
    padding-right: $content-padding-mobile;
  }
}

mat-form-field {
  width: 100%;
}
